# Ignore Python virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Django stuff
*.log
db.sqlite3

# VSCode/JetBrains etc. (optional)
.vscode/
.idea/

# Environment variable files
.env
